<!DOCTYPE html>
<html>
<head>
  <title><%= camera_model.name %></title>
  <style type="text/css">
      nav {
          margin: 10px;
      }
  </style>
</head>
<body>
<header>
  <h1><%= camera_model.name %></h1>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="index.html">All Camera Makes</a></li>
      <li><a href="camera_make_<%= camera_model.camera_make.id %>.html"><%= camera_model.camera_make.name %> models</a></li>
    </ul>
  </nav>
</header>
  <ul>
  <% camera_model.works.each do |work| %>
      <li>
        <img src="<%= work.thumbnail_url %>"/>
      </li>
  <% end %>
</ul>
</body>
</html>